/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/*
!/storage/app/.gitignore
!/storage/app/public/.gitignore
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/vendor
.env
.env.backup
.env.*
!.env.example
.phpunit.result.cache
.phpunit.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
*.log
/bootstrap/cache/*.php
/public/build
/public/assets_backup_*/
/template/
/tmp_uploads/*
!/tmp_uploads/.gitignore
output.txt
.DS_Store
**/.DS_Store
