/node_modules
/public/hot
/public/storage
/storage/*.key
/storage/app/public/*
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
*.zip
*.log
/bootstrap/cache/*.php
/public/build
