/**
 * Academy Course courseContent
 */

@import "../../scss/_bootstrap-extended/include";

.stick-top {
  position: sticky;
  inset-block: calc(10px) 0;

  &.course-content-fixed {
    inset-block-start: calc(70px + 10px);
  }
}
