/* Pricing
******************************************************************************* */

@import "../_bootstrap-extended/include";

.price-yearly-toggle {
  position: absolute;
  margin: auto;
  inset-inline: 0;
}
